---
import type { MarkdownLayoutProps } from "astro";
import Main from "./Main.astro";

type Props = MarkdownLayoutProps<{
    title: string;
    poster: string;
    subtitle: string;
}>;

const { title, poster, subtitle } = Astro.props.frontmatter;
---

<Main title="Blogs | Kamal Acharya">
    <figure>
        <img src={poster} alt="" class="w-4/5"/>
        <figcaption>
            Poster image for {title.toLowerCase()}
        </figcaption>
    </figure>
    <slot />
</Main>
